.curso{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  height:450px;
  width: 300px;
  max-height: 556px;
  max-width: 550px;
  display: flex;
  flex-flow: column;
  box-shadow: 0 0 2px #363636;
  box-shadow: none;
  background-color: rgb(255, 255, 255);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#fondo {
  width: 800px;
  height: 500px;
  backdrop-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
  }
}
