<h1>tienda works!</h1>

<div class="w-1/2 mx-auto">
<div class="container grid grid-cols-4 gap-3 ">
  <!--1-->
  <div class="md:container md:mx-auto box-border h-128 w-32 p-0 border-2 rounded-lg">
    <img src="assets/imagenes/pic2.jpg" class="img-responsive rounded-lg pb-2">
    <div>
      <div class="text-center"><a class="text-xl font-semibold ">[Título]</a></div>
      <div><a class="">[Descripción]</a></div>
    </div>
    <div class="grid grid-cols-2 gap-1">
      <div ><p class="text-center line-through font-semibold"> s/ 12.00</p></div>
      <div ><p class="text-center ">s/ 08.00</p></div>
    </div>
    <div class="grid grid-cols-2 gap-1">
      <div ><a class="btn" href="#"><p class="text-center">Carrito</p></a></div>
      <div ><a class="btn" href="#"><p class="text-center">Detalle</p></a></div>
    </div>
    <div class="content-center text-center bg-red-500 rounded"><p class="text-white font-bold">OFERTA</p></div>
  </div>
  <!--2-->
  <div class="md:container md:mx-auto box-border h-128 w-32 p-0 border-2 rounded-lg">
    <img src="assets/imagenes/pic2.jpg" class="img-responsive rounded-lg pb-2">
    <div>
      <div class="text-center"><a class="text-xl font-semibold ">[Título]</a></div>
      <div><a class="">[Descripción]</a></div>
    </div>
    <div class="grid grid-cols-2 gap-1">
      <div ><p class="text-center line-through font-semibold"> s/ 12.00</p></div>
      <div ><p class="text-center ">s/ 08.00</p></div>
    </div>
    <div class="grid grid-cols-2 gap-1">
      <div ><a class="btn"><p class="text-center">Carrito</p></a></div>
      <div ><a class="btn"><p class="text-center">Detalle</p></a></div>
    </div>
    <div class="content-center text-center bg-red-500 rounded"><p class="text-white font-bold">OFERTA</p></div>
  </div>
  <!--3-->
  <div class="md:container md:mx-auto box-border h-128 w-32 p-0 border-2 rounded-lg">
    <img src="assets/imagenes/pic2.jpg" class="img-responsive rounded-lg pb-2">
    <div>
      <div class="text-center"><a class="text-xl font-semibold ">[Título]</a></div>
      <div><a class="">[Descripción]</a></div>
    </div>
    <div class="grid grid-cols-2 gap-1">
      <div ><p class="text-center">s/ 12.00</p></div>
      <div ><p class="text-center">s/ 08.00</p></div>
    </div>
    <div class="grid grid-cols-2 gap-1">
      <div ><a class="btn"><p class="text-center">Carrito</p></a></div>
      <div ><a class="btn"><p class="text-center">Detalle</p></a></div>
    </div>
  </div>
  <!--4-->
  <div class="md:container md:mx-auto box-border h-128 w-32 p-0 border-2 rounded-lg">
    <img src="assets/imagenes/pic2.jpg" class="img-responsive rounded-lg pb-2">
    <div>
      <div class="text-center"><a class="text-xl font-semibold ">[Título]</a></div>
      <div><a class="">[Descripción]</a></div>
    </div>
    <div class="grid grid-cols-2 gap-1">
      <div ><p class="text-center line-through font-semibold"> s/ 12.00</p></div>
      <div ><p class="text-center ">s/ 08.00</p></div>
    </div>
    <div class="grid grid-cols-2 gap-1">
      <div ><a class="btn" href="#"><p class="text-center">Carrito</p></a></div>
      <div ><a class="btn" href="#"><p class="text-center">Detalle</p></a></div>
    </div>
    <div class="content-center text-center bg-red-500 rounded"><p class="text-white font-bold">OFERTA</p></div>
  </div>
  <!--5-->
  <div class="md:container md:mx-auto box-border h-128 w-32 p-0 border-2 rounded-lg">
    <img src="assets/imagenes/pic2.jpg" class="img-responsive rounded-lg pb-2">
    <div>
      <div class="text-center"><a class="text-xl font-semibold ">[Título]</a></div>
      <div><a class="">[Descripción]</a></div>
    </div>
    <div class="grid grid-cols-2 gap-1">
      <div ><p class="text-center">s/ 12.00</p></div>
      <div ><p class="text-center">s/ 08.00</p></div>
    </div>
    <div class="grid grid-cols-2 gap-1">
      <div ><a class="btn"><p class="text-center">Carrito</p></a></div>
      <div ><a class="btn"><p class="text-center">Detalle</p></a></div>
    </div>
  </div>
  <!--6-->
  <div class="md:container md:mx-auto box-border h-128 w-32 p-0 border-2 rounded-lg">
    <img src="assets/imagenes/pic2.jpg" class="img-responsive rounded-lg pb-2">
    <div>
      <div class="text-center"><a class="text-xl font-semibold ">[Título]</a></div>
      <div><a class="">[Descripción]</a></div>
    </div>
    <div class="grid grid-cols-2 gap-1">
      <div ><p class="text-center">s/ 12.00</p></div>
      <div ><p class="text-center">s/ 08.00</p></div>
    </div>
    <div class="grid grid-cols-2 gap-1">
      <div ><a class="btn"><p class="text-center">Carrito</p></a></div>
      <div ><a class="btn"><p class="text-center">Detalle</p></a></div>
    </div>
  </div>


</div>
</div>
