<p>tienda works!</p>
<div class="w-1/2 mx-auto">
<div class="grid grid-cols-3 gap-3">
  <!--1-->
  <div class="col-md-3 shop_box"><a href="single.html">
    <img src="assets/imagenes/pic1.jpg" class="img-responsive" alt=""/>
    <span class="oferta-box">
      <span class="oferta-label">Oferta</span>
    </span>
    <span class="nuevo-box">
      <span class="nuevo-label">Nuevo!</span>
    </span>
    <div class="shop_desc">
      <h3><a href="#">aliquam volutp</a></h3>
      <p>Lorem ipsum consectetuer adipiscing </p>
      <span class="actual">$12.00</span><br>
      <ul class="buttons">
        <li class="cart"><a href="#">Add To Cart</a></li>
        <li class="shop_btn"><a href="#">Read More</a></li>
        <div class="clear"> </div>
      </ul>
    </div>
  </a>
  </div>
  <!--2-->
  <div class="col-md-3 shop_box"><a href="single.html">
    <img src="assets/imagenes/pic2.jpg" class="img-responsive" alt=""/>
    <span class="oferta-box">
						<span class="oferta-label">Oferta</span>
					</span>
    <div class="shop_desc">
      <h3><a href="#">aliquam volutp</a></h3>
      <p>Lorem ipsum consectetuer adipiscing </p>
      <span class="actual">$12.00</span><br>
      <ul class="buttons">
        <li class="cart"><a href="#">Add To Cart</a></li>
        <li class="shop_btn"><a href="#">Read More</a></li>
        <div class="clear"> </div>
      </ul>
    </div>
  </a></div>
  <!--3-->
  <div class="col-md-3 shop_box"><a href="single.html">
    <img src="assets/imagenes/pic2.jpg" class="img-responsive" alt=""/>
    <span class="oferta-box">
						<span class="oferta-label">Oferta</span>
					</span>
    <div class="shop_desc">
      <h3><a href="#">aliquam volutp</a></h3>
      <p>Lorem ipsum consectetuer adipiscing </p>
      <span class="actual">$12.00</span><br>
      <ul class="buttons">
        <li class="cart"><a href="#">Add To Cart</a></li>
        <li class="shop_btn"><a href="#">Read More</a></li>
        <div class="clear"> </div>
      </ul>
    </div>
  </a></div>
  <!--4-->
  <div class="col-md-3 shop_box"><a href="single.html">
    <img src="assets/imagenes/pic2.jpg" class="img-responsive" alt=""/>
    <span class="oferta-box">
						<span class="oferta-label">Oferta</span>
					</span>
    <div class="shop_desc">
      <h3><a href="#">aliquam volutp</a></h3>
      <p>Lorem ipsum consectetuer adipiscing </p>
      <span class="actual">$12.00</span><br>
      <ul class="buttons">
        <li class="cart"><a href="#">Add To Cart</a></li>
        <li class="shop_btn"><a href="#">Read More</a></li>
        <div class="clear"> </div>
      </ul>
    </div>
  </a></div>
  <!--5-->
  <div class="col-md-3 shop_box"><a href="single.html">
    <img src="assets/imagenes/pic2.jpg" class="img-responsive" alt=""/>
    <span class="oferta-box">
						<span class="oferta-label">Oferta</span>
					</span>
    <div class="shop_desc">
      <h3><a href="#">aliquam volutp</a></h3>
      <p>Lorem ipsum consectetuer adipiscing </p>
      <span class="actual">$12.00</span><br>
      <ul class="buttons">
        <li class="cart"><a href="#">Add To Cart</a></li>
        <li class="shop_btn"><a href="#">Read More</a></li>
        <div class="clear"> </div>
      </ul>
    </div>
  </a></div>
  <!--6-->
  <div class="col-md-3 shop_box"><a href="single.html">
    <img src="assets/imagenes/pic2.jpg" class="img-responsive" alt=""/>
    <span class="oferta-box">
						<span class="oferta-label">Oferta</span>
					</span>
    <div class="shop_desc">
      <h3><a href="#">aliquam volutp</a></h3>
      <p>Lorem ipsum consectetuer adipiscing </p>
      <span class="actual">$12.00</span><br>
      <ul class="buttons">
        <li class="cart"><a href="#">Add To Cart</a></li>
        <li class="shop_btn"><a href="#">Read More</a></li>
        <div class="clear"> </div>
      </ul>
    </div>
  </a></div>
</div>
</div>

