<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Registro</title>
</head>
<div class="flex flex-row space-x-4 pt-2 pb-2 bg-[#6a1b0f]">
  <div class="pl-5"><img src="favicon.ico"></div>
  <div class=" basis-1/8"><a href="#" class="rounded-full cursor-pointer tracking-wider" ><p class="text-center uppercase font-bold text-white">UNI Store</p></a></div>
  <div class=" basis-1/2 grow"><p  class="text-center uppercase font-bold text-white">Register</p></div>
  <div class=" basis-1/8"><a href="tienda" class="rounded-full cursor-pointer tracking-wider" ><p class="text-center uppercase font-bold text-white">Inicio</p></a></div>
  <div class=" basis-1/8"><a href="tienda" class="rounded-full cursor-pointer tracking-wider" ><p class="text-center uppercase font-bold text-white">Tienda</p></a></div>
  <div class=" basis-1/8 pr-5"><a href="register" class="rounded-full cursor-pointer tracking-wider" ><p class="text-center uppercase font-bold text-white">Perfil</p></a></div>
</div>
<div class="container-full bg-[url('assets/imagenes/asdf.jpg')]">
  <div class="w-fit mx-auto border-2 bg-white grid grid-cols-2 ">

      <div class="basis-1/2" >
        <div>
          <div class="classDiv">
            <label>Email</label><br>
            <input type="email" placeholder="Escriba su correo" class="border-2 border-indigo-500 w-full entrada" [(ngModel)]="correo"/>
          </div>
          <div class="classDiv">
            <label>Contraseña</label><br>
            <input type="password" placeholder="Escriba su contraseña" class="border-2 border-indigo-500 w-full mb-2 entrada" [(ngModel)]="contrasena"/>
          </div>
        </div>
        <div class="classDiv">
          <label>Nombre</label><br>
          <input type="text" placeholder="Escriba su nombre" class="border-2 border-indigo-500 w-full mb-2 entrada" [(ngModel)]="nombres"/>
        </div>
        <div class="classDiv">
          <label>Apellidos</label><br>
          <input type="text" placeholder="Escriba su apellido" class="border-2 border-indigo-500 w-full mb-2 entrada"[(ngModel)]="apellidos"/>
        </div>
        <div class="classDiv">
          <label>Dirección</label><br>
          <input type="text" placeholder="Escriba su direccion" class="border-2 border-indigo-500 w-full mb-2 entrada " [(ngModel)]="direccion"/>
        </div>
        <div class="classDiv">
          <label>Telefono</label><br>
          <input type="text" placeholder="Escriba su telefono" class="border-2 border-indigo-500 w-full mb-2 entrada" [(ngModel)]="telefono"/>
        </div>
        <div class="classDiv">
          <button class="bg-blue-400 text-white w-full rounded-md" (click)="registrar()">  Registrar  </button><br>
        </div>
        <div>
          <button class="bg-blue-400 text-white w-full rounded-md" ><a href="tienda">Volver a la tienda</a></button>
        </div>
      </div>
    <div>
      <img src="assets/imagenes/gatorayo.jpg">
    </div>

    </div>
<</div>
