<html lang="en">
<head>
  <title>Registro</title>
</head>
<div class="flex flex-row space-x-4 pt-2 pb-2 bg-[#8e2929]">
  <div class="pl-5"><img src="favicon.ico"></div>
  <div class=" basis-1/8"><a href="#" class="rounded-full cursor-pointer tracking-wider" ><p class="text-center uppercase font-bold text-white">UNI Store</p></a></div>
  <div class=" basis-1/2 grow"><p  class="text-center uppercase font-bold text-white font-['Verdana']"></p></div>
  <div class=" basis-1/8"><a href="tienda" class="rounded-full cursor-pointer tracking-wider" ><p class="text-center uppercase font-bold text-white">Inicio</p></a></div>
  <div class=" basis-1/8"><a href="tienda" class="rounded-full cursor-pointer tracking-wider" ><p class="text-center uppercase font-bold text-white">Tienda</p></a></div>
  <div class=" basis-1/8 pr-5"><a href="register" class="rounded-full cursor-pointer tracking-wider" ><p class="text-center uppercase font-bold text-white">Perfil</p></a></div>
</div>
<div class="bg-contain bg-[url('assets/imagenes/asdf.jpg')]">
  <div class="w-fit mx-auto h-screen bg-gradient-to-r from-white-500 to-transparent">
    <div class="">
      <div>
          <div class="pt-10 space-y-4">
            <p class="font-semibold text-center text-xl uppercase border-2 rounded-lg text-white pt-1 pb-1 bg-[#8e2929] ">Usuario</p>
            <input type="text" class=" border-[#3babba] w-full mb-2 border-2 classDiv rounded-lg" >
            <p class="font-semibold text-center text-xl uppercase border-2 rounded-lg text-white pt-1 pb-1 bg-[#8e2929] ">Contraseña</p>
            <input type="password" class=" border-[#3babba] w-full mb-2 border-2 classDiv rounded-lg" >
            <div class="classDiv">
              <button class="bg-[#3babba] hover:bg-sky-700 text-white w-full rounded-md" ><a href="perfil">Ingresar</a></button>
            </div>
          </div>
      </div>
    </div>
    <img class=" rounded-lg border-2 border-[#3babba] "src="assets/imagenes/uni.jpg">


  </div>
</div>

