<div class="flex flex-row space-x-4 pt-2 pb-2 bg-[#8e2929]">
  <div class="pl-5"><img class=" rounded-lg h-7" src="assets/imagenes/icono.ico"></div>
  <div class=" basis-1/8"><a href="tienda" class="rounded-full cursor-pointer tracking-wider" ><p class="text-center uppercase font-bold text-white hover:text-[#3babba]">UNI Store</p></a></div>
  <div class=" basis-1/2 grow"><p  class="text-center uppercase font-bold text-white font-['Verdana']"></p></div>
  <div class=" basis-1/8"><a href="tienda" class="rounded-full cursor-pointer tracking-wider" ><p class="text-center uppercase font-bold text-white hover:text-[#3babba]">Inicio</p></a></div>
  <div class=" basis-1/8"><a href="tienda" class="rounded-full cursor-pointer tracking-wider" ><p class="text-center uppercase font-bold text-white hover:text-[#3babba]">Tienda</p></a></div>
  <div class=" basis-1/8 pr-5"><a href="register" class="rounded-full cursor-pointer tracking-wider" ><p class="text-center uppercase font-bold text-white hover:text-[#3babba]">Perfil</p></a></div>
</div>

<div >
  <div>
    <div class=" bg-[url('assets/imagenes/asdf.jpg')] space-y-4">
      <div class="w-5/12 mx-auto  bg-white">
        <div class="items-center" >
          <div class="  pt-3 flex flex-wrap">
            <div *ngIf="producto!=null">
              <img class="w-fit rounded-lg	" [src]="producto.url_imagen" >
            </div>
          </div>

        </div >

        <div class=" border-2 rounded">
          <div *ngIf="producto!=null">
            <div ><p class="text-4xl text-center font-semibold ">{{producto.nombre}}</p></div>
            <div >{{producto.descripcion}}</div>

            <button class="bg-[#3babba] hover:bg-[#3bbbba] text-gray-50 font-semibold rounded-md">Añadir carrito</button><br>
          </div>

        </div>
        <div>


        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="flex flex-row space-x-4 place-content-evenly pt-2 pb-2 bg-[#6a1b0f]">
  <div class="flex "><input type="text" [(ngModel)]="indice" style="border: 2px solid blue" class="rounded-md">
  <button (click)="obtenerProducto()" class="bg-orange-700 text-gray-50 font-semibold rounded-md">Obtener Producto</button><br>
  <button class="bg-orange-700 text-gray-50 font-semibold rounded-md"><a href="tienda">Ver tienda</a></button>
  </div>
</div>-->
<div class="flex flex-row space-x-24 place-content-evenly pt-2 pb-2 bg-[#8e2929]">
  <div class="flex space-x-4 "><input placeholder="Escriba el codigo" type="text" [(ngModel)]="indice" style="border: 2px solid blue" class="rounded-md">
    <button (click)="obtenerProducto()" class="bg-[#3babba] hover:bg-[#3bbbba] text-gray-50 font-semibold rounded-md">Obtener Producto</button><br>
    <button class="bg-[#3babba] hover:bg-[#3bbbba] text-gray-50 font-semibold rounded-md"><a href="tienda">Volver tienda</a></button>
  </div>
</div>
<div class="bg-[url('assets/imagenes/asdf.jpg')]">
  <div class=" w-9/12 mx-auto bg-[url('assets/imagenes/asdf.jpg')] space-y-4">
    <div class="w-fit mx-auto bg-white">
      <div class="box-border border-3 items-center" ><p class="text-center uppercase font-bold">Categoria</p></div>
      <div class="  pt-3 grid grid-cols-4 gap-4  ">
        <article *ngFor="let item of lista, let indice=index">
          <div (click)="obtenerProducto()" class=" cursor-pointer box-border md:box-content border-2 rounded-lg min-h-sm curso static pt-1 pr-1 pb-1 pl-1 ">
            <img [src]="item.url_imagen" class="img-responsive rounded-lg pb-2 w-screen	 h-56">
            <div>
              <div class="text-center"><p class="text-md font-semibold ">{{item.nombre}}</p></div>
              <div><p class="text-xs">{{item.descripcion}}</p></div>
            </div>
            <div class="grid grid-cols-2 gap-1">
              <div class="text-center line-through font-semibold">{{item.precio_unitario}}</div>
              <div class="text-center ">{{item.precio_oferta}}</div>
            </div>
            <div>
              <div class="border-2 rounded-lg bg-cyan-500 hover:bg-cyan-600 " ><a class="btn" ><p class="text-sm  text-center" [routerLink]="['/detalle/',indice]">Más Detalle</p></a></div>
            </div>
            <div class="content-center text-center bg-[#fe0000] rounded flex"><span class="text-white text-xs font-bold">OFERTA</span></div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
