.curso{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  height:345px;
  width: 200px;
  max-height: 256px;
  max-width: 150px;
  display: flex;
  flex-flow: column;
  box-shadow: 0 0 2px #363636;
  box-shadow: none;
  background-color: rgb(255, 255, 255);
}
